/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[MemoryCaptures]/

# AssetMetaCheck 폴더 제외
/[Aa]sset[Mm]eta[Cc]heck/

# 유니티가 자동 생성하는 프로젝트 파일들 제외
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.VC.db

# OS에서 생성하는 불필요한 파일들 제외
.DS_Store
Thumbs.db

# 빌드 결과물 폴더 제외
[Bb]uild/
[Bb]uilds/

# Crashlytics 관련 파일
crashlytics-build.properties
